In [33]:
import bs4
import pandas as pd
from bs4 import BeautifulSoup
from requests import get
import numpy as np

In [41]:
def get_data():
    title = []
    price = []
    pages = ["","?s=120","?s=240","?s=360","?s=480","?s=600","?s=720","?s=840","?s=960","?s=1080"]

    ## iterate through the pages to collect desired dataset
    for x in pages:
        url = 'https://newyork.craigslist.org/search/bka' + x
        response = get(url)
        html_soup = BeautifulSoup(response.text, 'html.parser')
        type(html_soup)
        books = html_soup.find_all('li', class_ = 'result-row')
    
        ## extract all the data from books
        for every_book in books:
            ## collect title of the book:
            name = every_book.p.a.text
            title.append(name)
            title = title[0:1000]
            ## collect price of the book:
            prices = every_book.p.find('span',class_='result-price').text
            price.append(prices)
            price = price[0:1000]
            
            data = pd.DataFrame({'title': title,
                                    'price':price})
            
    # take the first 1000 rows since data exceeds 1000 rows
    
    return data

In [42]:
Data=get_data()

In [43]:
len(Data)

1000

In [44]:
Data.loc[0:5]

                                               title price
0  IMPRESSIONISM Chartwell Books inc, printed in ...   $50
1                      The Reckoning by John Grisham   $10
2  HENRI MATISSE: A RETROSPECTIVE---TOTALLY UNUSE...   $25
3                  Religious Books (8 books for $10)   $10
4                                Books Marc L Abbott   $15
5  David Coverdale & Whitesnake 1987 - 1988 World...   $10

In [38]:
Data.loc[0:5,"title"]

0    Vintage 1957 Ayn Rand “Atlas Shrugged”. 1st ed...
1    Vintage 1957 Ayn Rand “Atlas Shrugged”. 1st ed...
2           There’s A Wocket in My Pocket by Dr. Seuss
3                               James Dean Collector's
4                                       SAT PREP BOOKS
5                                       DC COMIC BOOKS
Name: title, dtype: object

In [21]:
## search books by title (case sensitive)
def search_by_title():
    TEST = input("Search name of the title: ")
    title = np.column_stack([Data[col].str.contains(TEST) for col in ['title']])
    return print(Data.loc[title.any(axis=1)])

In [23]:
def search_by_title():
    TEST = input("Search name of the title: ")
    title = np.column_stack([Data[col].str.contains(TEST.lower()) for col in ['title']])
    return print(Data.loc[title.any(axis=1)])

In [25]:
search_by_title()

Search name of the title: Modern
Empty DataFrame
Columns: [title, price]
Index: []

In [ ]:
TEST = input("Search name of the title: ")
title = Data.loc[Data['title']= str.contains(TEST)]
print(title)

In [17]:
search_by_title()

Search name of the title: mm
                                                 title price
80    English Composition and Grammar: Complete Course  $100
219  The Mammoth Book of Historical and More Whodun...    $9
328  Effective Organisational Communication: Perspe...   $30
334  Modernist Communities across Cultures and Medi...   $50
422                      Programming and finance books   $40
636  Assorted Great Programming/Web Development Boo...    $5
659             Computer and Programming Related Books    $0
735                     Computer Dummie Books for Sale    $0
746  Mens european fashion magazine library for sal...  $360
752   L'uomo Vogue Homme mens fashion magazine Library  $480
763  Robert's Rules for Dummies - Parliamentary Pro...    $5
822   English Composition and Grammar: Complete Course  $100
934   English Composition and Grammar: Complete Course  $100

In [203]:
## search books by price (with $ sign)
def search_by_price():
    TEST = input("Search price of the book: ")
    price = Data.loc[Data['price']==TEST]
    return price

In [204]:
print(search_by_price())

Search price of the book: $4
                                                 title price
28               New-adventure romance novel On A Whim    $4
63                        100 Things to Ponder (ebook)    $4
216                   Quick and Easy Investing E-Guide    $4
217                   Quick and Easy Investing E-Guide    $4
219                   Quick and Easy Investing E-Guide    $4
270                    GHOST STORIES of NEW YORK STATE    $4
302                         Art History Books for Sale    $4
474                       The Tibetan Book of the Dead    $4
563  John Kovalic's Dork Tower: Living La Vida Dork...    $4
761                            Broadway Show Playbills    $4