In [39]:
import bs4
import pandas as pd
from bs4 import BeautifulSoup
from requests import get

In [85]:
title = []
price = []
pages = ["","?s=120","?s=240","?s=360","?s=480","?s=600","?s=720","?s=840","?s=960","?s=1080"]

for x in pages:
    url = 'https://newyork.craigslist.org/search/bka' + x
    response = get(url)
    html_soup = BeautifulSoup(response.text, 'html.parser')
    type(html_soup)
    books = html_soup.find_all('li', class_ = 'result-row')
    # Lists to store the scraped data in
    
    # Extract data from individual books
    for every_book in books:
        # The title:
        name = every_book.p.a.text
        title.append(name)
        # The price:
        prices = every_book.p.find('span',class_='result-price').text
        price.append(prices)
        test_df = pd.DataFrame({'title': title,
                       'price':price})
test_df

1120

In [88]:
data=test_df[0:1000]

In [148]:
data.loc[0:5,]

                                               title price
0                                       Naruto Books   $60
1            NYS Theater Program 1964 Lincoln Center    $7
2  American Photographer Magazine - April 1982 - ...    $3
3       Easton Press Leather Book - Of Human Bondage   $40
4   Easton Press Leather Book - Brideshead Revisited   $40
5                      National Geographic Magazines   $40

In [146]:
data.loc[0:5,"title"]

0                                         Naruto Books
1              NYS Theater Program 1964 Lincoln Center
2    American Photographer Magazine - April 1982 - ...
3         Easton Press Leather Book - Of Human Bondage
4     Easton Press Leather Book - Brideshead Revisited
5                        National Geographic Magazines
Name: title, dtype: object

In [185]:
result = input("Search name of the title: ")
y = [] 
for i in data["title"]:
    if result in i:
        x = data["title"] == i
        y.append(data[x])
if len(y) > 1:
    dataframe = pd.DataFrame(data=y)
    print(dataframe)
else:
    print("Books not found")

Search name of the title: NYS
                                                   0
0                                       title pri...
1                  title price
393  New NYSTCE    $0

In [ ]:
result = input("Search name of the title: ")
y = [] 
for i in data["title"]:
    if result in i:
        x = data["title"] == i
        y.append(data[x])
if len(y) > 1:
    dataframe = pd.DataFrame(data=y)
    print(dataframe)
else:
    print("Books not found")

In [100]:
page_num=data.loc[(0:120,120:240,240:360,360:480,480:600,600:720,720:840,840:960,960:1080),"title"]

SyntaxError: invalid syntax (<ipython-input-100-6280345fecd4>, line 1)

In [103]:
pip install Django==2.1.7

The following command must be run outside of the IPython shell:

    $ pip install Django==2.1.7

The Python package manager (pip) can only be used from outside of IPython.
Please reissue the `pip` command in a separate terminal or command prompt.

See the Python documentation for more information on how to install packages:

    https://docs.python.org/3/installing/

In [125]:
result = input("Search name of the title: ")
for i in data["title"]:
    if  result in i:
        x = data["title"] == i
        print(data[x])
    else:
        break
print("Books not found")

Search name of the title: aaaaaaaaaaaaaaaaaa
Books not found

                                     title price
1  NYS Theater Program 1964 Lincoln Center    $7