In [95]:
import bs4
import pandas as pd
from bs4 import BeautifulSoup
from requests import get
import numpy as np

In [164]:
def get_data():
    title = []
    price = []
    pages = ["","?s=120","?s=240","?s=360","?s=480","?s=600","?s=720","?s=840","?s=960","?s=1080"]

    ## iterate through the pages to collect desired dataset
    for x in pages:
        url = 'https://newyork.craigslist.org/search/bka' + x
        response = get(url)
        html_soup = BeautifulSoup(response.text, 'html.parser')
        type(html_soup)
        books = html_soup.find_all('li', class_ = 'result-row')
    
        ## extract all the data from books
        for every_book in books:
            ## collect title of the book:
            name = every_book.p.a.text
            title.append(name)
            ## collect price of the book:
            prices = every_book.p.find('span',class_='result-price').text
            price.append(prices)
            test_df = pd.DataFrame({'title': title,
                                    'price':price})
            
    # take the first 1000 rows since data exceeds 1000 rows
    data = test_df[0:1000]
    return data

In [165]:
get_data()

                                                 title  price
0    Original! Outlander Series of Books - Diana Ga...    $49
1                      Children's bible from the 1960s    $15
2                          Calling all ESPRESSO lovers    $15
3       North & South books plus other civil war books    $25
4                Italian language learning (in GERMAN)    $15
5                             Learn Spanish by Berlitz    $35
6    5 Petit Cookbooks-swiss, french, italian, prov...    $15
7                                         French books    $30
8        German Books Literature *Little Yellow books*    $15
9    Biology by Campbell - Reece Plus Study Guide b...    $10
10   Essentials of Understanding Psychology by Robe...    $10
11   Understanding Psychology by Robert S. Feldman ...    $10
12            Norwegian Travel, Holiday and Cook Books    $20
13            RARE Karlheinz Weinberger photo art book   $250
14                             Graphic Novels for sale     $5
15        Three Great Books in Mint Prestige Condition    $20
16                                         Photo Album    $10
17                                          Music book     $5
18                                               Books     $5
19      A Pocket Style Manual 7th Edition | MLA Update    $10
20   Lippincott's Illustrated Review Biochemistry 2...     $5
21                 Baruch Book Moving business forward     $5
22                                          GMAT Books     $0
23   Medical School Scholarships, Grants & Awards: ...   $115
24                        Leather bound LEAVES OF GOLD     $5
25                     1980's  Sports Illustrated Mags    $10
26     Fairyopolis: A Flower Fairies Journal Hardcover    $11
27                     Brand New Baby's Book Hardcover    $11
28               New-adventure romance novel On A Whim     $4
29   Cook and Education Books for Sale, $50 for the...    $50
..                                                 ...    ...
970  PAPERBACK BOOKS HARDCOVER BOOKS FICTION NON FI...     $1
971   Rare PHOTOGRAPHY Books Cindy Sherman Bruce Weber     $0
972  SISLEY Limited Edition Winter 2002/2003 by Ter...   $100
973             SISLEY Summer 2001 by Terry Richardson    $80
974             SISLEY Summer 2002 by Terry Richardson    $80
975            SISLEY  Winter 2001 by Terry Richardson   $100
976                   SISLEY  2000 by Terry Richardson   $100
977  SISLEY  "Modern Conversation" by Terry Richardson   $100
978  SISLEY Fall/Winter 2000 "Eat me Alive" by Terr...    $80
979  Full Manhattan GMAT 6th Edition and Official G...    $90
980                 lionel richie 1983 world tour book    $15
981  Kaplan Schweser 2019 CFA Level II (2) Exam Pre...   $300
982  collection of adult magazines with missing cov...    $50
983  College Textbooks Biochemistry, Microbiology,P...    $40
984             Decorating book English Style First Ed    $10
985                   Crossword puzzle Dictionary DELL     $5
986                    Four Entertainment Vintage Mags     $5
987                             step1 kaplan usmle set     $0
988                                  HELP WITH WRITING     $1
989   Terry Richardson SISLEY Lookbooks / 2000 to 2003   $100
990  Franklin Library 100 Greatest Books Of All Tim...  $3000
991    Easton Press Top Collector's Edition - 15 Books   $250
992  Easton Press Military History Collection - 2 B...    $40
993  Easton Press Science Fiction Collection - 2 Books    $40
994  Easton Press 100 Greatest Books Collection - 2...   $500
995                                    Study aid books     $0
996                                          Law Books     $0
997  Diagnostic Cytology and Hematology of the Dog ...    $55
998  New Berlin tour book & German phrasebook/dicti...    $10
999      Juergen Teller "The Master" I, II & III / NEW    $50

[1000 rows x 2 columns]

In [166]:
Data=get_data()

In [167]:
len(Data)

1000

In [168]:
Data.loc[0:5]

                                               title price
0  Original! Outlander Series of Books - Diana Ga...   $49
1                    Children's bible from the 1960s   $15
2                        Calling all ESPRESSO lovers   $15
3     North & South books plus other civil war books   $25
4              Italian language learning (in GERMAN)   $15
5                           Learn Spanish by Berlitz   $35

In [169]:
Data.loc[0:5,"title"]

0    Original! Outlander Series of Books - Diana Ga...
1                      Children's bible from the 1960s
2                          Calling all ESPRESSO lovers
3       North & South books plus other civil war books
4                Italian language learning (in GERMAN)
5                             Learn Spanish by Berlitz
Name: title, dtype: object

In [195]:
## search books by title (case sensitive)
def search_by_title():
    TEST = input("Search name of the title: ")
    title = np.column_stack([Data[col].str.contains(TEST) for col in ['title']])
    return Data.loc[title.any(axis=1)]

In [196]:
print(search_by_title())

Search name of the title: Diana
                                                 title price
0    Original! Outlander Series of Books - Diana Ga...   $49
106  Outlander (new paperback) copy) by Diana Gabaldon    $5

In [203]:
## search books by price (with $ sign)
def search_by_price():
    TEST = input("Search price of the book: ")
    price = Data.loc[Data['price']==TEST]
    return price

In [204]:
print(search_by_price())

Search price of the book: $4
                                                 title price
28               New-adventure romance novel On A Whim    $4
63                        100 Things to Ponder (ebook)    $4
216                   Quick and Easy Investing E-Guide    $4
217                   Quick and Easy Investing E-Guide    $4
219                   Quick and Easy Investing E-Guide    $4
270                    GHOST STORIES of NEW YORK STATE    $4
302                         Art History Books for Sale    $4
474                       The Tibetan Book of the Dead    $4
563  John Kovalic's Dork Tower: Living La Vida Dork...    $4
761                            Broadway Show Playbills    $4

In [15]:
## pagination
from tempfile import NamedTemporaryFile
import webbrowser
from sklearn.datasets import load_iris


def df_html(df):
    """HTML table with pagination and other goodies"""
    df_html = df.to_html()
    return base_html % df_html

In [16]:
def df_window(df):
    """Open dataframe in browser window using a temporary file"""
    with NamedTemporaryFile(delete=False, suffix='.html') as f:
        f.write(df_html(df))
    webbrowser.open(f.name)

In [22]:
df = pd.DataFrame(Data, columns=Data.feature_names)

df_window(df)

AttributeError: 'DataFrame' object has no attribute 'feature_names'

In [ ]:
## pagination
import dash
from dash.dependencies import Input, Output
import dash_table
import dash_html_components as html
import dash_core_components as dcc



Data[' index'] = range(1, len(Data) + 1)
app = dash.Dash(__name__)
PAGE_SIZE = 15

app.layout = html.Div([
    html.Div('Data table pagination test'),
    dcc.Dropdown(
        id='select_page_size',
        options=[{'label': '5', 'value': 5}, {'label': '10', 'value': 10}, {'label': '15', 'value': 15}],
        value=5
    ),
    html.Div(dash_table.DataTable(
        id='datatable-paging',
        columns=[{"name": i, "id": i} for i in Data.columns],
        data=Data.to_dict("rows"),
        pagination_settings={
            'current_page': 0,
            'page_size': PAGE_SIZE
        },
    ))
])

@app.callback(
    Output('datatable-paging', 'pagination_settings'),
    [Input('select_page_size', 'value')])
def update_graph(page_size):
    return {
        'current_page': 0,
        'page_size': page_size
    }

if __name__ == '__main__':
    app.run_server(debug=True)